body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
  }

  .logo{
    display: flex;
  }
  .logo h1{
    font-size: 20px;
    margin-left: 10px;
  }
  
  .logo img{
    width: 58px;
    height: 58px;
  }
  
  .sidebar {
    width: 200px;
    background-color: #1c2f4f;
    color: white;
    height: 100%; 
    padding: 17px;
    margin-right: 30px;
  }
  
  .sidebar a{
    background-color: #819bb4;
    font-size: 25px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
  }
  
  .sidebar ul li a:hover {
    background-color: #8f99a3;
  }

  .link {
  text-decoration: none;
  color: #000000;
  font-size: 25px;

  display: block;   /* ou inline-block */
  text-align: right;
  margin-right: 20px; /* ou 0 para encostar na borda */
}
  
.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px; /* opcional, pra afastar da borda */
}

h2{
    text-align: center;
    background-color: #1c2f4f;
    color: #fff;
    margin: 10px 300px 20px ;
    padding: 10px;
    border-radius: 15px;
    ;
    
}

.content {
  /* flex: 1; 
  padding: 20px; */
  width: 800px;
  margin: 0 auto;
}

/* cartões */
  
  .cartoes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .cartao {
    background-color: #1c2f4f;
    color: white;
    padding: 20px 50px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.369);
  }
  
  .imagem {
    text-align: center;
    padding: 20px;
    margin: 15px 0;
    /* display: flex;
    float: right; */
  }

  .imagem img{
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  
  .button {
    background-color:#819bb4;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration:none ;
    display: inline-block;
    text-align: center;
    font-size: 15px;
  }
  
  .button:hover {
    background-color: #637485;
  }